<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="pl" />
<meta name="description" content="papersoccer.pl - strona do łatwego i wygodnego dodawania schematów z możliwością treningu" />
<meta name="keywords" content="piłka na kartce papersoccer piłkarzyki orlik treningowy schematy analiza partii mazak Gmocha" /> 
<meta name="author" content="slunzok"/>

<title>papersoccer.pl - {% block title %} {% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" media="screen"/>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/utils.js"></script>

</head>
<body>

<div class="container">

	<div class="header"></div>

	<div class="navigation">

        <ul id="accordion">
            <li{% if active == 1 %} id="active"{% endif %}>
                <h1>papersoccer.pl</h1>
                <ul>
                    <li><a href="{% url 'schemes:index' %}">wejście główne</a></li>
                    <li><a href="{% url 'schemes:training_independent' %}">orlik treningowy</a></li>
                    <li><a href="{% url 'schemes:microblog' %}">trybuna piłkarska</a></li>
                    <li><a href="{% url 'schemes:kurnik_user' 'kurnikoland' %}">karty zawodników (kurnik)</a></li>
                </ul>
            </li>
            <li{% if active == 2 %} id="active"{% endif %}>
                <h1>strefa kibica</h1>
                <ul>
                    {% if request.user.is_authenticated %}                    <li><a href="{% url 'schemes:user_scheme_directories' %}">moje schematy</a></li>
                    <li><a href="{% url 'schemes:user_replay_directories' %}">analiza partii</a></li>
                    <li><a href="{% url 'schemes:custom_ureplays' %}">partie treningowe</a></li>
                    <li><a href="{% url 'schemes:logout_user' %}">wyloguj</a></li>
                    {% else %}
                    <li><a href="{% url 'schemes:register_account' %}">załóż konto</a></li>
                    <li><a href="{% url 'schemes:login_user' %}">zaloguj się</a></li>
                    <li><a href="">link #3</a></li>
                    <li><a href="">link #4</a></li>
                    {% endif %}
                </ul>
            </li>
            <li{% if active == 3 %} id="active"{% endif %}>
                <h1>schematy - obrona</h1>
                <ul>                    <li><a href="">link #1</a></li>
                    <li><a href="">link #2</a></li>
                    <li><a href="">link #3</a></li>
                    <li><a href="">link #4</a></li>
                </ul>
            </li>
            <li{% if active == 4 %} id="active"{% endif %}>
                <h1>schematy - atak</h1>
                <ul>                    <li><a href="">link #1</a></li>
                    <li><a href="">link #2</a></li>
                    <li><a href="">link #3</a></li>
                    <li><a href="">link #4</a></li>
                </ul>
            </li>
            <li{% if active == 5 %} id="active"{% endif %}>
                <h1>schematy - inne</h1>
                <ul>                    <li><a href="">link #1</a></li>
                    <li><a href="">link #2</a></li>
                    <li><a href="">link #3</a></li>
                    <li><a href="">link #4</a></li>
                </ul>
            </li>
        </ul>

	</div>
		
	<div class="main">
        {% block content %}{% endblock %}
	</div>
	
	<div class="clearer"><span></span></div>

	<div class="footer">
	
		<span class="left">&copy; 2018 <a href="http://papersoccer.pl">papersoccer.pl</a> - Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></span>
		
		<span class="right"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></span>

		<div class="clearer"><span></span></div>

	</div>

</div>

</body>

</html>
