{% extends "schemes/base.html" %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1>Zmiana hasła</h1>

            <form action="" method="POST">
            {% csrf_token %}

            {{ change_password_form.non_field_errors }}

            {% for field in change_password_form %}

            {% if field.errors %}

                    <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>
                    <p><label></label> {{ field.errors.as_text }}</p>

            {% else %}

                    <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>

            {% endif %}

            {% endfor %}

            <p><label></label> <input name="change_password" type="submit" value="Zmień hasło na nowe!" /></p>

            </form>

        </div>
    </div>

{% endblock %}

