{% extends "schemes/base.html" %}

{% block title %}polityka prywatności{% endblock %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1>Polityka Cookies</h1>

            <div class="body">
                    <p class="microbody">Poniższa Polityka Cookies określa zasady zapisywania i uzyskiwania dostępu do danych na Urządzeniach Użytkowników korzystających z Serwisu do celów świadczenia usług drogą elektroniczną przez Administratora Serwisu.</p>

                    <p class="microhead">§ 1 Definicje</p>
                    <p class="microbody">
                        &bull; <strong>Serwis</strong> - serwis internetowy działający pod adresem <a href="http://papersoccer.pl">papersoccer.pl</a><br />
                        &bull; <strong>Serwis zewnętrzny</strong> - serwis internetowy partnerów, usługodawców lub usługobiorców Administratora<br />
                        &bull; <strong>Administrator</strong> - osoba świadcząca usługi drogą elektroniczną za pośrednictwem Serwisu oraz przechowująca i uzyskująca dostęp do informacji w urządzeniach Użytkownika<br />
                        &bull; <strong>Użytkownik</strong> - osoba fizyczna, dla której Administrator świadczy usługi drogą elektroniczna za pośrednictwem Serwisu.<br />
                        &bull; <strong>Urządzenie</strong> - elektroniczne urządzenie wraz z oprogramowaniem, za pośrednictwem którego Użytkownik uzyskuje dostęp do Serwisu<br />
                        &bull; <strong>Cookies (ciasteczka)</strong> - dane tekstowe gromadzone w formie plików zamieszczanych na Urządzeniu Użytkownika
                    </p>

                    <p class="microhead">§ 2 Rodzaje Cookies</p>
                    <p class="microbody">
                        &bull; <strong>Cookies wewnętrzne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez system teleinformatyczny Serwisu<br />
                        &bull; <strong>Cookies zewnętrzne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez systemy teleinformatyczne Serwisów zewnętrznych<br />
                        &bull; <strong>Cookies sesyjne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis  podczas jednej sesji danego Urządzenia. Po zakończeniu sesji pliki są usuwane z Urządzenia Użytkownika.<br />
                        &bull; <strong>Cookies trwałe</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis do momentu ich ręcznego usunięcia. Pliki nie są usuwane automatycznie po zakończeniu sesji Urządzenia chyba że konfiguracja Urządzenia Użytkownika jest ustawiona na tryb usuwanie plików Cookie po zakończeniu sesji Urządzenia.
                    </p>

                    <p class="microhead">§ 3 Bezpieczeństwo</p>
                    <p class="microbody">
                        &bull; <strong>Mechanizmy składowania i odczytu</strong> - Mechanizmy składowania i odczytu Cookies nie pozwalają na pobierania jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika. Przeniesienie na Urządzenie Użytkownika wirusów, koni trojańskich oraz innych robaków jest praktynie niemożliwe.<br />
                        &bull; <strong>Cookie wewnętrzne</strong> - zastosowane przez Administratora Cookie wewnętrzne są bezpieczne dla Urządzeń Użytkowników<br />
                        &bull; <strong>Cookie zewnętrzne</strong> - za bezpieczeństwo plików Cookie pochodzących od partnerów Serwisu Administrator nie ponosi odpowiedzialności. Lista partnerów zamieszczona jest w dalszej części Polityki Cookie.
                    </p>

                    <p class="microhead">§ 4 Cele do których wykorzystywane są pliki Cookie</p>
                    <p class="microbody">
                        &bull; <strong>Usprawnienie i ułatwienie dostępu do Serwisu</strong> - Administrator może przechowywać w plikach Cookie informacje o prefernecjach i ustawieniach użytkownika dotyczących Serwisu aby usprawnić, polepszyć i przspieszyć świadczenie usług w ramach Serwisu.<br />
                        &bull; <strong>Logowanie</strong> - Administrator wykorzystuje pliki Cookie do celów logowania Użytkowników w Serwisie<br />
                        &bull; <strong>Dane statystyczne</strong> - Administrator wykorzystuje pliki Cookie do zbierania i przetwarzania danych statystycznych takich jak np. statystyki odwiedzin, statystyki Urządzeń Użytkowników czy statystyki zachowań użytkowników. Dane te zbierane są w celu analizy i ulepszania Serwisu.
                    </p>

                    <p class="microhead">§ 5 Serwisy zewnętrzne</p>
                    <p class="microbody"><strong>Administrator nie współpracuje z serwisami zewnętrznymi i Serwis nie umieszcza ani nie korzysta z żadnych plików zewnętrznych plików Cookies.</strong>
                    </p>

                    <p class="microhead">§ 6 Możliwości określania warunków przechowywania i uzyskiwania dostępu na Urządzeniach Użytkownika przez Serwis</p>
                    <p class="microbody">
                        &bull; Użytkownik może w dowolnym momencie, samodzielnie zmienić ustawienia dotyczące zapisywania, usuwania oraz dostępu do danych zapisanych plików Cookies<br />
                        &bull; Informacje o sposobie wyłączenia plików Cookie w najpopularniejszych przeglądarkach komputerowych i urządzeń mobilnych dostępna są na stronie: <a href="http://jakwylaczyccookie.pl/jak-wylaczyc-pliki-cookies/">jak wyłączyć cookie</a><br />
                        &bull; Użytkownik może w dowolnym momencie usunąć wszelkie zapisane do tej pory pliki Cookie korzystając z narzędzi Urządzenia Użytkownika za pośrednictwem którego Użytkownik korzysta z usług Serwisu.
                    </p>

                    <p class="microhead">§ 7 Wymagania Serwisu</p>
                    <p class="microbody">
                        &bull; Ograniczenie zapisu i dostępu do plików Cookie na Urządzeniu Użytkownika może spowodować nieprawidłowe działanie niektórych funkcji Serwisu.<br />
                        &bull; Administrator nie ponosi żadnej odpowiedzialności za nieprawidłowo działające funkcje Serwisu w przypadku gdy Użytkownik ograniczy w jakikolwiek sposób możliwość zapisywania i odczytu plików Cookie.
                    </p>

                    <p class="microhead">§ 8 Zmiany w Polityce Cookie</p>
                    <p class="microbody">
                        &bull; Administrator zastrzega sobie prawo do dowolnej zmiany niniejszej Polityki Cookie bez konieczności informowania o tym użytkowników.<br />
                        &bull; Wprowadzone zmiany w Polityce Cookie zawsze będą publikowane na tej stronie.<br />
                        &bull; Wprowadzone zmiany wchodzą w życie w dniu publikacji Polityki Cookie.
                    </p>
            </div>
        </div>
    </div>

{% endblock %}
