{% extends "schemes/base.html" %}

{% block title %}dodaj schemat - #{{ ureplay.name }}{% endblock %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1><input class="left_button" type="button" value="#{{ ureplay.name }}" id="game" onclick="toggleForm('replay_info', 'game')" /> <span class="right"><a href="{% url 'schemes:add_ureplay_to_user_replay_directory' ureplay.id %}">dodaj do katalogu</a> <input type="button" value="wstecz" onclick="prev()" /><span id="state"></span><input type="button" value="dalej" onclick="next()" /></span></h1>
            <h1 class="green" id="replay_info" style="display:none">{% if ureplay.parent_replay != None %}<span>Fork partii: <a href="{% url 'schemes:create_scheme' ureplay.parent_replay.name %}">{{ ureplay.parent_replay.name }}</a></span><br /> <span id="player1"></span> &rarr; #1 <br /><span id="player2"></span> &rarr; #2 <br />{{ ureplay.parent_replay.replay_date }} - {{ ureplay.parent_replay.replay_time }} - {% if ureplay.parent_replay.replay_round == '60' %}1m{% elif ureplay.parent_replay.replay_round == '120'%}2m{% elif ureplay.parent_replay.replay_round == '180'%}3m{% elif ureplay.parent_replay.replay_round == '300'%}5m{% elif ureplay.parent_replay.replay_round == '420'%}7m{% elif ureplay.parent_replay.replay_round == '900'%}15m{% endif %} - Wygrał: {% if ureplay.parent_replay.result == '0-1' %}{{ ureplay.parent_replay.player2 }} {% else %} {{ ureplay.parent_replay.player1 }} {% endif %} {% else %} <span>Niezależna partia treningowa</span>{% endif %}</h1>
            <h1 class="green"><span id="move"></span> <span class="right"><input type="button" value="dodaj schemat" id="status" onclick="newScheme()" /><input type="button" value="obróć boisko" onclick="rotate()" /></span></h1>
            <h1 class="green" id="showElements" style="display:none"><span id="schemeElements">&nbsp;</span> <span class="right"><input type="button" value="formularz zgłoszeniowy" id="send_form" onclick="toggleForm('scheme_form_fields', 'send_form')" /></span></h1>

            <script type="text/javascript">
            function showHint(str) {
                if (str.length == 0) { 
                    document.getElementById("txtHint").innerHTML="";
                    return;
                } else {
                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function() {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
                        }
                    };
                    xmlhttp.open("GET","/schematy/szukaj/"+str,true);
                    xmlhttp.send();
                }    
            }
            </script>

            <form action="" method="POST" id="scheme_form_fields" style="display:none">
            {% csrf_token %}

            {{ scheme_form.non_field_errors }}

            {% for field in scheme_form %}

            {% if field.errors %}

                {% if field.html_name == "directory" %}

                    <p><label for="id_search">Szukaj:</label> <input class="scheme" id="id_search" maxlength="100" name="search" type="text" onkeyup="showHint(this.value)" required /></p>
                    <p id="txtHint"></p>
                    <p><label></label> {{ field.errors.as_text }}</p>

                    <!--
                    <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>
                    <p><label></label> {{ field.errors.as_text }}</p>
                    -->

                {% elif field.html_name != "name" %}

                    <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>
                    <p><label></label> {{ field.errors.as_text }}</p>

                {% endif %}

            {% else %}

                {% if field.html_name == "directory" %}

                    <p><label for="id_search">Szukaj:</label> <input class="scheme" id="id_search" maxlength="100" name="search" type="text" onkeyup="showHint(this.value)" required /></p>
                    <p id="txtHint"></p>

                    <!--
                    <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>
                    -->

                {% elif field.html_name != "name" %}

                    <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>

                {% endif %}

            {% endif %}

            {% endfor %}

            <p><label></label> <input name="create_scheme" type="submit" value="Zapisz schemat" /></p>

            </form>

            <div class="board">
                <canvas id="myCanvas" width="306" height="442"></canvas>
                <script type="text/javascript">
                {% if ureplay.parent_replay != None %}
                    var players = [];
                    {% if ureplay.parent_replay.player2_elo|add:0 < 1200 %}
                        players.push('{{ ureplay.parent_replay.player2 }}', 'blue', '{{ ureplay.parent_replay.player2_elo }}');
                    {% elif ureplay.parent_replay.player2_elo|add:0 >= 1200 and ureplay.parent_replay.player2_elo|add:0 < 1500 %}
                        players.push('{{ ureplay.parent_replay.player2 }}', 'green', '{{ ureplay.parent_replay.player2_elo }}');
                    {% elif ureplay.parent_replay.player2_elo|add:0 >= 1500 and ureplay.parent_replay.player2_elo|add:0 < 1800 %}
                        players.push('{{ ureplay.parent_replay.player2 }}', 'yellow', '{{ ureplay.parent_replay.player2_elo }}');
                    {% elif ureplay.parent_replay.player2_elo|add:0 >= 1800 and ureplay.parent_replay.player2_elo|add:0 < 2100 %}
                        players.push('{{ ureplay.parent_replay.player2 }}', 'orange', '{{ ureplay.parent_replay.player2_elo }}');
                    {% elif ureplay.parent_replay.player2_elo|add:0 >= 2100 %}
                        players.push('{{ ureplay.parent_replay.player2 }}', 'red', '{{ ureplay.parent_replay.player2_elo }}');
                    {% endif %}

                    {% if ureplay.parent_replay.player1_elo|add:0 < 1200 %}
                        players.push('{{ ureplay.parent_replay.player1 }}', 'blue', '{{ ureplay.parent_replay.player1_elo }}');
                    {% elif ureplay.parent_replay.player1_elo|add:0 >= 1200 and ureplay.parent_replay.player1_elo|add:0 < 1500 %}
                        players.push('{{ ureplay.parent_replay.player1 }}', 'green', '{{ ureplay.parent_replay.player1_elo }}');
                    {% elif ureplay.parent_replay.player1_elo|add:0 >= 1500 and ureplay.parent_replay.player1_elo|add:0 < 1800 %}
                        players.push('{{ ureplay.parent_replay.player1 }}', 'yellow', '{{ ureplay.parent_replay.player1_elo }}');
                    {% elif ureplay.parent_replay.player1_elo|add:0 >= 1800 and ureplay.parent_replay.player1_elo|add:0 < 2100 %}
                        players.push('{{ ureplay.parent_replay.player1 }}', 'orange', '{{ ureplay.parent_replay.player1_elo }}');
                    {% elif ureplay.parent_replay.player1_elo|add:0 >= 2100 %}
                        players.push('{{ ureplay.parent_replay.player1 }}', 'red', '{{ ureplay.parent_replay.player1_elo }}');
                    {% endif %}

                    var is_fork = 1;
                {% else %}
                    var is_fork = 0;
                {% endif %}

                    var moves_string = "{{ ureplay.moves }}";
                    var moves = moves_string.split(" ");
                </script>
                <script type="text/javascript" src="/static/js/board2.js"></script>
            </div>

        </div>
    </div>

{% endblock %}
