{% extends "schemes/base.html" %}

{% block title %}{% if directory.parent_dir.name != None %}{{ directory.parent_dir.name }} - {% endif %} {{ directory.name }} - usuń{% endblock %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1><strong><a href="{% url 'schemes:user_public_replay_directories' directory.user %}">@{{ directory.user }}</a></strong> - {% if directory.parent_dir.name != None %}<a href="{% url 'schemes:show_replay_directory' directory.parent_dir.id %}">{{ directory.parent_dir.name }}</a> - {% endif %} <a href="{% url 'schemes:show_replay_directory' directory.id %}">{{ directory.name }}</a></h1>

            <form action="" method="POST">
            {% csrf_token %}

            <p>Spowoduje to skasowanie wszystkich katalogów i plików znajdujących się w tym katalogu. Jesteś pewny?</p>

            <p><label></label> <input name="delete_directory" type="submit" value="Tak, usuń katalog!" /></p>

            </form>

        </div>
    </div>

{% endblock %}

