{% extends "schemes/base.html" %}

{% block title %}wejście główne{% endblock %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1>Wejście główne <span class="right">Online: <a href="{% url 'schemes:online_users' %}">{{ online_users }} użytkowników</a> &nbsp;</span></h1>

            <div class="body">
                {% for entry in last_entries %}
                    <p class="microhead">{{ entry.user.username }} - {{ entry.created|date:"d.m.Y - H:i:s" }}</p> 
                    <p class="microbody">{{ entry.content|truncatewords:50 }}<br /> &rarr; <a href="{% url 'schemes:show_entry' entry.id %}">{{ entry.comments.count }} komentarzy</a> {% if entry.user == request.user %} - <a href="">edytuj wpis</a>{% endif %}</p>
                {% endfor %}
                    <p>&nbsp; <span class="custom">
                    {% if is_paginated %}
                        {% if last_entries.has_previous %}
                            <a href="?strona={{ last_entries.previous_page_number }}">poprzednia</a>
                        {% endif %}
                            Strona {{ last_entries.number }} z {{ last_entries.paginator.num_pages }}
                        {% if last_entries.has_next %}
                            <a href="?strona={{ last_entries.next_page_number }}">następna</a>
                        {% endif %}
                    {% endif %}
                    </span></p>
            </div>
        </div>
    </div>

{% endblock %}
