{% extends "schemes/base.html" %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1>Mecze</h1>
            <div class="body">
                {% for player in players %}
                    {% if player.name == player1 %}
                        <p><strong><a href="{% url 'schemes:kurnik_user' player1 %}">{{ player1 }}</a> vs <a href="{% url 'schemes:kurnik_user' player2 %}">{{ player2 }}</a></strong><br /> {{ player.games }} meczy - wynik: {{ player.wins }} - {{ player.losses }} - {{ player.rank }}</p>
                    {% endif %}
                {% endfor %}

                <hr />

                {% for replay in replays %}
                <p><a href="{% url 'schemes:create_scheme' replay.name %}">{{ replay.name }}</a></p>
                {% endfor %}
                </p>
            </div>
        </div>
    </div>

{% endblock %}
