{% extends "schemes/base.html" %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1>Trybuna kibicowska {% if user.is_authenticated %}<span class="right"><input type="button" value="dodaj wpis" id="add_entry" onclick="toggleForm('add_entry_form', 'add_entry')" /></span>{% endif %}</h1>

            {% if user.is_authenticated %}

                <form action="" method="POST" id="add_entry_form" style="display:none">
                {% csrf_token %}

                {{ entry_form.non_field_errors }}

                {% for field in entry_form %}

                    {% if field.errors %}

                        <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>
                        <p><label></label> {{ field.errors.as_text }}</p>

                    {% else %}

                        <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>

                    {% endif %}

                {% endfor %}

                <p><label></label> <input name="add_entry" type="submit" value="Dodaj wpis" /></p>

                </form>

            {% endif %}

            <div class="body">
                {% load link_to_user_profile %}
                {% for entry in last_entries %}
                    <p class="microhead">{{ entry.user.username }} - {{ entry.created|date:"d.m.Y - H:i:s" }}</p> 
                    <p class="microbody">{{ entry.content|profil_link|linebreaksbr|truncatewords:50 }}<br /> &rarr; <a href="{% url 'schemes:show_entry' entry.id %}">{{ entry.comments.count }} komentarzy</a> {% if entry.user == request.user %} - <a href="{% url 'schemes:edit_entry' entry.id %}">edytuj wpis</a>{% endif %}</p>
                {% endfor %}
                    <p>&nbsp; <span class="custom">
                    {% if is_paginated %}
                        {% if last_entries.has_previous %}
                            <a href="?strona={{ last_entries.previous_page_number }}">poprzednia</a>
                        {% endif %}
                            Strona {{ last_entries.number }} z {{ last_entries.paginator.num_pages }}
                        {% if last_entries.has_next %}
                            <a href="?strona={{ last_entries.next_page_number }}">następna</a>
                        {% endif %}
                    {% endif %}
                    </span></p>
            </div>
        </div>
    </div>

{% endblock %}
