{% extends "schemes/base.html" %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1><strong><a href="{% url 'schemes:user_public_replay_directories' directory.user %}">{{ directory.user }}</a></strong> - {% if directory.parent_dir.name != None %}<a href="{% url 'schemes:show_replay_directory' directory.parent_dir.id %}">{{ directory.parent_dir.name }}</a> - {% endif %} <a href="{% url 'schemes:show_replay_directory' directory.id %}">{{ directory.name }}</a> {% if directory.user == request.user %}<span class="right"><input type="button" value="dodaj katalog" id="add_directory" onclick="toggleForm('add_directory_form', 'add_directory')" /></span>{% endif %}</h1>

            {% if directory.user == request.user %}

                <form action="" method="POST" id="add_directory_form" style="display:none">
                {% csrf_token %}

                {{ add_directory_form.non_field_errors }}

                {% for field in add_directory_form %}

                    {% if field.errors %}

                        {% if field.html_name != "parent_dir" %}

                            <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>
                            <p><label></label> {{ field.errors.as_text }}</p>

                        {% endif %}

                    {% else %}

                        {% if field.html_name != "parent_dir" %}

                            <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>

                        {% endif %}

                    {% endif %}

                {% endfor %}

                <p><label></label> <input name="create_replay_directory" type="submit" value="Utwórz katalog" /></p>

                </form>

            {% endif %}

            <div class="body">

                {% if directory.children_replay_directory.count == 0 %}

                    <p><strong>Brak podkatalogów!</strong></p>

                {% else %}

                    <p><strong>Katalogi ({{ directory.children_replay_directory.count }})</strong></p>

                    <table id="myTable" class="data-table">

                    <tr>
                        <th style="width: 50%" onclick="sortTable(0, 'myTable')">Katalog</th>
                        <th style="width: 25%" onclick="sortTable(1, 'myTable')">Dostęp</th>
                        <th style="width: 25%" onclick="sortTable(1, 'myTable')">Partie</th>
                    </tr>

                    {% for directory in directory.children_replay_directory.all %}

                    <tr>
                        <td><a href="{% url 'schemes:show_replay_directory' directory.id %}">{{ directory.name }}</a><br /><a href="{% url 'schemes:edit_replay_directory' directory.id %}">edytuj</a> - <a href="{% url 'schemes:delete_replay_directory' directory.id %}">usuń</a></td>
                        <td>{{ directory.get_replay_access_display }}</td>
                        <td>{{ directory.vreplays.count }} plików</td>
                    </tr>

                    {% endfor %}

                    </table>

                {% endif %}

                {% if directory.vreplays.count != 0 %}

                    <p><strong>Pliki ({{ directory.vreplays.count }})</strong> <span class="right"><a href="{% url 'schemes:manage_vreplays' directory.id %}">sprawdź wiele plików</a></span></p>

                    <table id="myTable2" class="data-table">

                    <tr>
                        <th style="width: 60%" onclick="sortTable(0, 'myTable2')">Partia</th>
                        <th style="width: 40%" onclick="sortTable(1, 'myTable2')">Status</th>
                    </tr>

                    {% for vreplay in directory.vreplays.all %}

                    <tr>

                        <td style="text-align: left"><a href="{% url 'schemes:create_scheme' vreplay.replay.name %}">{{ vreplay.replay.name }}</a><br />

                        {% for scheme in vreplay.replay.replays.all %} 
                            {% if scheme.user == request.user %} 
                                &bull; {% if scheme.directory.parent_dir.name != None %} {{ scheme.directory.parent_dir.name }} -{% endif %} {{ scheme.directory.name }}<br />
                            {% endif %} 
                        {% endfor %}
                        </td>

                        <td style="text-align: left">{% if vreplay.checked == '0' %}<span class="red_bull">&bull;</span> niesprawdzona {% elif vreplay.checked == '1' %}<span class="green_bull">&bull;</span> sprawdzona{% endif %}<br /> <a href="{% url 'schemes:edit_vreplay' vreplay.id %}">edytuj</a> - <a href="{% url 'schemes:delete_vreplay' vreplay.id %}">usuń</a></td>
                    </tr>

                    {% endfor %}

                    </table>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

