{% extends "schemes/base.html" %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1><strong><a href="{% url 'schemes:user_public_scheme_directories' directory.user %}">{{ directory.user }}</a></strong> - {% if directory.parent_dir.name != None %}<a href="{% url 'schemes:show_scheme_directory' directory.parent_dir.id %}">{{ directory.parent_dir.name }}</a> - {% endif %} <a href="{% url 'schemes:show_scheme_directory' directory.id %}">{{ directory.name }}</a> {% if directory.user == request.user %}<span class="right"><input type="button" value="dodaj katalog" id="add_directory" onclick="toggleForm('add_directory_form', 'add_directory')" /></span>{% endif %}</h1>

            {% if directory.user == request.user %}

                <form action="" method="POST" id="add_directory_form" style="display:none">
                {% csrf_token %}

                {{ add_directory_form.non_field_errors }}

                {% for field in add_directory_form %}

                    {% if field.errors %}

                        {% if field.html_name != "parent_dir" %}

                            <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>
                            <p><label></label> {{ field.errors.as_text }}</p>

                        {% endif %}

                    {% else %}

                        {% if field.html_name != "parent_dir" %}

                            <p><label for="id_{{ field.html_name }}">{{ field.label }}:</label> {{ field }}</p>

                        {% endif %}

                    {% endif %}

                {% endfor %}

                <p><label></label> <input name="create_scheme_directory" type="submit" value="Utwórz katalog" /></p>

                </form>

            {% endif %}

            <div class="body">

                {% if directory.description != '' %} <p><strong>Opis:</strong> {{ directory.description }} </p>{% endif %}

                {% if directory.children_scheme_directory.count == 0 %}

                    <p><strong>Brak podkatalogów!</strong></p>

                {% else %}

                    <p><strong>Katalogi:</strong></p>

                    <table id="myTable" class="data-table">

                    <tr>
                        <th style="width: 50%" onclick="sortTable(0, 'myTable')">Nazwa</th>
                        <th style="width: 25%" onclick="sortTable(1, 'myTable')">Schemat</th>
                        <th style="width: 25%" onclick="sortTable(2, 'myTable')">Rodzaj</th>
                    </tr>

                    {% for directory in directory.children_scheme_directory.all %}

                    <tr>

                        <td><a href="{% url 'schemes:show_scheme_directory' directory.id %}">{{ directory.name }}</a> {% if directory.user == request.user %} <br /> <a href="{% url 'schemes:edit_scheme_directory' directory.id %}">edytuj</a> - <a href="{% url 'schemes:delete_scheme_directory' directory.id %}">usuń</a> {% endif %}</td>
                        <td>{{ directory.get_scheme_access_display }}</td>
                        <td>{{ directory.get_scheme_type_display }}</td>
                    </tr>

                    {% endfor %}

                    </table>

                {% endif %}

                {% if directory.schemes.count != 0 %}

                    <p><strong>Schematy:</strong></p>

                    <table id="myTable2" class="data-table">

                    <tr>
                        <th style="width: 50%" onclick="sortTable(0, 'myTable2')">Nazwa</th>
                        {% if directory.scheme_access == '1' %}
                            <th style="width: 50%" onclick="sortTable(1, 'myTable2')" colspan="2">Autor</th>
                        {% else %}
                            <th style="width: 50%" onclick="sortTable(1, 'myTable2')" colspan="2">Ustawienia</th>
                        {% endif %}
                    </tr>

                    {% for scheme in directory.schemes.all %}

                    <tr>
                        <td><a href="{% url 'schemes:show_scheme' scheme.id %}">{{ scheme.name }}</a></td>
                        {% if scheme.directory.scheme_access == '1' %}
                            <td colspan="2"><a href="{% url 'schemes:user_official_schemes' scheme.directory.id scheme.user %}"> {{ scheme.user }}</a></td>
                        {% else %}
                            <td><a href="{% url 'schemes:edit_scheme' scheme.id %}">edytuj</a></td>
                            <td><a href="{% url 'schemes:delete_scheme' scheme.id %}">usuń</a></td>
                        {% endif %}
                    </tr>

                    {% endfor %}

                    </table>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

