{% extends "schemes/base.html" %}

{% block title %}powiadomienia{% endblock %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1>Powiadomienia <span class="right">Nowych: {{ new_notifications.count }} &nbsp;</span></h1>

            <div class="body">

                {% if not new_notifications and not notifications %}
                    <p class="microbody"><strong>Brak powiadomień z ostatnich 14 dni.</strong></p>
                {% endif %}

                {% for new_notification in new_notifications %}
                    <p class="microhead">[NOWE] {{ new_notification.created|date:"d.m.Y - H:i:s" }}</p> 
                    <p class="microbody"><strong>@<a href="{% url 'schemes:show_user_profile' new_notification.sender.username %}">{{ new_notification.sender }}</a></strong> napisał do Ciebie we wpisie: <a href="{% url 'schemes:show_entry' new_notification.entry.id %}">{{ new_notification.entry.content|truncatechars:50 }}</a></p>
                {% endfor %}

                {% for notification in notifications %}
                    <p class="microhead">{{ notification.created|date:"d.m.Y - H:i:s" }}</p> 
                    <p class="microbody"><strong>@<a href="{% url 'schemes:show_user_profile' notification.sender.username %}">{{ notification.sender }}</a></strong> napisał do Ciebie we wpisie: <a href="{% url 'schemes:show_entry' notification.entry.id %}">{{ notification.entry.content|truncatechars:50 }}</a></p>
                {% endfor %}

                    <p>&nbsp; <span class="custom">
                    {% if is_paginated %}
                        {% if notifications.has_previous %}
                            <a href="?strona={{ notifications.previous_page_number }}">poprzednia</a>
                        {% endif %}
                            Strona {{ notifications.number }} z {{ notifications.paginator.num_pages }}
                        {% if notifications.has_next %}
                            <a href="?strona={{ notifications.next_page_number }}">następna</a>
                        {% endif %}
                    {% endif %}
                    </span></p>
            </div>
        </div>
    </div>

{% endblock %}
