{% extends "schemes/base.html" %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1>{{ user }} - schematy</h1>

            <div class="body">

                {% if directories.count == 0 %}

                    <p><strong>Brak podkatalogów!</strong></p>

                {% else %}

                    <ul>

                    {% for directory in directories %}

                        <li><a href="{% url 'schemes:show_scheme_directory' directory.id %}">{{ directory.name }}</a> <br /> {{ directory.get_scheme_access_display }} - {{ directory.get_scheme_type_display }} - podkatalogów: {{ directory.children_scheme_directory.count }} - plików: {{ directory.schemes.count }}</li>

                    {% endfor %}

                    </ul>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

