{% extends "schemes/base.html" %}

{% block content %}

    <div class="item">
        <div class="content">
            <h1>{{ user }} - schematy</h1>

            <div class="body">

                {% if directories.count == 0 %}

                    <p><strong>Brak podkatalogów!</strong></p>

                {% else %}

                    <p><strong>Katalogi publiczne:</strong></p>

                    <table id="myTable" class="data-table">

                    <tr>
                        <th style="width: 50%" onclick="sortTable(0, 'myTable')">Nazwa</th>
                        <th style="width: 25%" onclick="sortTable(1, 'myTable')">Schemat</th>
                        <th style="width: 25%" onclick="sortTable(2, 'myTable')">Rodzaj</th>
                    </tr>

                    {% for directory in directories %}

                    <tr>
                        <td><a href="{% url 'schemes:show_scheme_directory' directory.id %}">{{ directory.name }}</a></td>
                        <td>{{ directory.get_scheme_access_display }}</td>
                        <td>{{ directory.get_scheme_type_display }}</td>
                    </tr>

                    {% endfor %}

                    </table>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

